* {
    margin: 0 auto;
    padding: 0 auto;
    font-family: sans-serif;
}

/* 
#d15615
#e0a387
#ffe7d3
#64baaa 
*/

body {
    background-color: #d15615;
}

a {
    text-decoration: none;
    color: white;
}

nav {
    background-color: #202020;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18pt;
}

.container {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
}

.item-container {
    background-color: #ffe7d3;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
}

.menu-btn {
    width: 200px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.menu-btn:hover {
    background-color: crimson;
}

.money {
    color: #64baaa;
}

h1 {
    margin-bottom: 40px;
}

main {
    display: flex;
    flex-direction: row;
}