<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Grisalhos Burger</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav>
            <div class="menu-btn"><a href="{{ url_for('home') }}">Home</a></div>
            {% if current_user.is_authenticated %}
                <div class="menu-btn"><a href="{{ url_for('wallet') }}">Carteira<br /><span class="money">R${{ current_user.wallet }}</span></a></div>
                <div class="menu-btn"><a href="{{ url_for('history') }}">Histórico</a></div>
                <div class="menu-btn"><a href="{{ url_for('logout') }}">Logout</a></div>
            {% else %}
                <div class="menu-btn"><a href="{{ url_for('login') }}">Login</a></div>
                <div class="menu-btn"><a href="{{ url_for('register') }}">Cadastro</a></div>
            {% endif %}
    </nav>
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="flash {{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </div>
</body>
</html>
