{% extends "base.html" %}
{% block content %}
<div class="form">
    <p class="title">Histórico de Compras</p>
    <div>
        {% for purchase in purchases %}
            <div class="hist-item">
                {{ purchase.burger.name }} - R$ {{ purchase.burger.price }}<br/>{{ purchase.timestamp }}
                <form method="POST" action="{{ url_for('cancel_purchase', purchase_id=purchase.id) }}">
                    <button type="submit" class="cancel">X</button>
                </form>
            </div>
        {% endfor %}
        </div>
</div>
{% endblock %}
