{% extends "base.html" %}
{% block content %}
    <h1>Cardápio</h1>
    <main>
        {% for burger in burgers %}
            <div class="item-container">
                <div class="burger-name">
                    {{ burger.name }} - R$ {{ burger.price }}
                </div>
                <img src={{burger.image}}>
                <form method="POST" action="{{ url_for('buy_burger', burger_id=burger.id) }}">
                    <button type="submit">Comprar</button>
                </form>
            </div>
        {% endfor %}
    </main>
{% endblock %}